<%provide(:title,@post.title)%>

<div class="row">
  <aside class="span4">
    <section>
      
      <div> <h1><%= @post.title%> </div></h1>
      <div> <%= @post.content%> </div>
     
    </section>
  </aside>