@import "bootstrap";


body {
padding-top: 50px;
padding-bottom: 20px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    /* border-top: 1px solid $grayLighter;*/
    &:last-child {
      /*border-bottom: 1px solid $grayLighter;*/
    }
  }
}


/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  /*color: $grayLight;*/
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


